.Box{
    background-color: #010101;
    width: 100%;
    min-height: 40rem;
    margin-top: 2rem;
   padding: 2rem 25rem;
}
.box1{
    padding:4rem ;
    display: flex;
    gap: 6rem;
    justify-content: space-around;
    height: 100%;
}