*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  /* background-color: #f0f0f050; */
  /* background: hsl(210, 14%, 75%); */
  background-color: hsl(0,0,0.5);
  color: #000;
}
